{% from "macros/fields.html" import render_delete_field %}

{% extends "layout.html" %}

{%- block head_content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}"/>
{% endblock %}

{% block main_content %}

  <form name="add_movie" method="post" novalidate="novalidate" class="form">
    <h3 class="header">
      Are you sure you want to delete this movie from your watchlist?
    </h3>

    <div class="button--row">
      {{ form.hidden_tag() }}
      {{ render_delete_field(form.submit) }}

      <a href="{{ url_for('pages.movie', _id=_id) }}" class="strip_decoration">
        <button type="button" class="button button--delete">Return</button>
      </a>
    </div>
  </form>

{% endblock %}